{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Accueil
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Présentation du site</h1>
        <p class="lead">Les fonctionnalités existante</p>
    </div>
    <div class="container">
        <li><a href="{{ path('easyadmin') }}">L'espace Super Admin</a></li>
        <li><a href="{{ path('dedicace_index') }}">Les Dédicaces</a></li>
    </div>

    
{% endblock %}
